@model CamperFinder.Model.Vehicle

<div>
    <h2>@Model.Name - @Model.Price</h2>
    <ul>
        <li>@Model.ShortDesc</li>
        <li>Make: @Model.Make</li>
        <li>Model: @Model.Model</li>
        <li>Age: @Model.Year</li>
        <li>Mileage: @Model.Mileage</li>
    </ul>
</div>

